<h1 class="text-center">Human Resource Management</h1>

<nav class="navbar navbar-expand bg-info p-2">
    <a routerLink="/home/dashboard" class="nav-link text-white">
        Dashboard
    </a>

    <a routerLink="/home/contact" class="nav-link text-white">
        Contact
    </a>

    <a>Log In</a>
    

</nav>

<br>

<router-outlet></router-outlet>

<br>

<div id="login" class="container">

    <h3 class="text-center text-success">Log In</h3>

    <form [formGroup]="userReactiveForm"
          (ngSubmit)="onSubmitReactive()">

        <!-- Username -->
        <div class="mb-3">
            <label>Username:</label>

            <input
                type="text"
                formControlName="username"
                class="form-control">

            <span
                *ngIf="userReactiveForm.get('username')?.touched"
                class="text-danger">

                <p *ngIf="userReactiveForm.get('username')?.hasError('required')">
                    Username is required.
                </p>

                <p *ngIf="userReactiveForm.get('username')?.hasError('minlength')">
                    Username is invalid.
                </p>

            </span>
        </div>

        <!-- Password -->
        <div class="mb-3">
            <label>Password:</label>

            <input
                type="password"
                formControlName="password"
                class="form-control">

            <span
                *ngIf="userReactiveForm.get('password')?.touched"
                class="text-danger">

                <p *ngIf="userReactiveForm.get('password')?.hasError('required')">
                    Password is required.
                </p>

                <p *ngIf="userReactiveForm.get('password')?.hasError('minlength')">
                    Password is invalid.
                </p>

            </span>
        </div>

        <!-- Confirm Password -->
        <div class="mb-3">
            <label>Confirm Password:</label>

            <input
                type="password"
                formControlName="confirmPassword"
                class="form-control">

            <span
                *ngIf="userReactiveForm.get('confirmPassword')?.touched"
                class="text-danger">

                <p *ngIf="userReactiveForm.get('confirmPassword')?.value != userReactiveForm.get('password')?.value">
                    Passwords do not match.
                </p>

            </span>
        </div>

        <button
            type="submit"
            class="btn btn-outline-success float-end">
            Create Account
        </button>

    </form>

</div>